@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 新規登録画面 */
/* .div.w-100 vh-100 d-flex {
  height: 70px;
} */

.loginHere {
  margin-left: 60px;
}

.d-flex {
  background-color: #EEEEEE;
}

.borderRegister {
  background-color: #FFF;
  border-radius: 18px;
  padding-right: 20px;
  padding-left: 20px;
  width: 340px;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .5);
}

.d-block {
  background-color: #FFF;
}

/* ログイン画面 */
.loginViewAll {
  background-color: #EEEEEE;
}

.login-title {
  margin-left: 100px;
  font-size: 20px;
  margin-top: -185px;
}

.loginView {
  text-align: center;
  margin-top: 225px;
}

.loginForm {
  background-color: #EEEEEE;
}

.loginBorder {
  background-color: #FFF;
  margin: 0 auto;
  border-radius: 18px;
  text-align: center;
  margin-top: 30px;
  padding: 35px;
  padding-top: 25px;
  padding-bottom: 30px;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .5);
  width: 410px;
  height: 320px;

}

.signUp {
  margin-left: 115px;
}

.d-block {
  font-weight: bold;
  text-align: left;
}

/* body */
/* .all_content {
  background: #ECF1F6;
} */

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 170px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.sidebar-title {
  white-space: nowrap;
  margin-left: 5px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.calendar-td.past {
  background: #EEE;
}

.day_part {
  color: #494949;
  font-size: 12px;
  padding-left: 0.5em;
  text-indent: -0.5em;
  white-space: nowrap;
  justify-content: space-around;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.school-modal-open btn {
  border-radius: .25rem;
}

/* 予約詳細画面 */
.reserve-detail-table {
  width: 320px;
}

.text-bar {
  background-color: #03AAD2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 25px;
  font-weight: bold;
}

.text-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-bar-list {
  color: #FFF;
}

tr:nth-child(odd) {
  background-color: #FFF;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #DDFFFF;
  width: 100%;
}

/* スクール予約確認 */
.sat {
  color: #0000FF;
}

.sun {
  color: #FF0000;
}

.text-left {
  padding-left: 0.5em;
  text-indent: -0.5em;
  justify-content: space-between;
}




/* モーダル */
.school-modal-open {
  border-radius: 5%;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 40%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
  margin-left: 365px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.bulletin_board_posts_btn {
  background-color: #0099FF;
  border-radius: 7px;
  padding: 2px 7px;
  width: 220px;
  height: 32px;
  text-align: center;
  border: none;
}

.bulletin_board_posts_btn a {
  color: #fff;
}

.searchKeyword,
.myLikePosts {
  display: flex;
}

.search {
  background-color: #0099FF;
  color: #FFF;
}

.post_title {
  color: #000;
  font-weight: bold;
}

.post_fullName {
  color: #888888;
  font-weight: bold;
}

.post_status {
  color: #888888;
}

.other_area w-25 {
  padding: 25px;
}


/* アコーディオンメニュー（サブカテゴリー検索） */


/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.editBtn {
  background-color: #007BFF;
  color: #FFF;
  border-radius: 7px;
  padding: 2px 12px;
  border: none;
}

.trashBtn a {
  color: #FFF;
}

.trashBtn {
  background-color: #FF0000;
  border-radius: 7px;
  padding: 2px 12px;
  border: none;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}



/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn_like,
.category_btn_myPosts,
.category_btn_sub {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  color: #FFF;
}

.category_btn_like {
  background: #FF97C2;
  border-radius: 7px;
  padding: 2px 7px;
  width: 110px;
  height: 35px;
}

.category_btn_myPosts {
  background: #FFCC00;
  border-radius: 7px;
  padding: 2px 7px;
  width: 110px;
  height: 35px;
}

.category_btn_sub {
  background-color: #3399FF;
  color: #EEE;
  border-radius: 10px;
  padding: 3px;
}

.search-bar-left {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 155px;
  height: 35px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
  margin-top: 10px;
  background-color: #EEEEEE;
}

.search-bar-right {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  width: 65px;
  height: 35px;
  font-size: 100%;
  vertical-align: top;
  border: none;
  border-radius: 0 5px 5px 0;
  background: #0099FF;
  margin-top: 10px;
}


.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* サブカテゴリー */
.subcategory_area {
  background: #FFF;
  border-radius: 10px;
}

.subcategory_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.subcategory_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}


/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
  border-radius: 7px;
  margin: 10px;
  background-color: #FFF;
  padding: 15px;
  box-shadow: 0 6px 11px 0 rgba(0, 0, 0, .5);
}

.search_conditions {
  margin-bottom: 15px;
}

.search_conditions span {
  cursor: pointer;
  display: inline-block;
  border-bottom: 2px solid #ccc;
}

.search_conditions_inner {
  display: none;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.free_word {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
  width: 220px;
  height: 35px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #EEEEEE;
}

.userSearch-category {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 5px;
  width: 80px;
  height: 35px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #EEEEEE;
}

.userSearch-updown {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 5px;
  width: 80px;
  height: 35px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  background-color: #EEEEEE;
}

.search_btn {
  background-color: #03AAD2;
  color: #FFF;
  padding: 2px 7px;
  width: 220px;
  height: 32px;
  text-align: center;
  border: none;
  border-radius: 7px;
  margin-top: 30px;
}

.engineer {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  background-color: #EEEEEE;
  width: 80px;
  height: 35px;
}

.reset {
  color: #0099FF;
  border: none;
  text-align: center;
  padding: 2px 7px;
  width: 220px;
  height: 32px;
  margin-top: 10px;
}


.info {
  color: #888888;
}
