@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 新規登録画面 */
/* .div.w-100 vh-100 d-flex {
  height: 70px;
} */

/* ログイン画面 */
/* .border {
  width: 170px;
  text-align: center;
  margin-top: 270px;
  margin-left: 220px;
} */

.login-title {
  margin-left: 100px;
  font-size: 20px;
  margin-top: -185px;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 170px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

.sidebar-title {
  white-space: nowrap;
  margin-left: 5px;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.calendar-td.past {
  background: #EEE;
}

.day_part {
  color: #494949;
  font-size: 12px;
  padding-left: 0.5em;
  text-indent: -0.5em;
  white-space: nowrap;
  justify-content: space-around;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.school-modal-open {
  border-radius: 5%;
}

/* スクール予約確認 */
.sat {
  color: #0000FF;
}

.sun {
  color: #FF0000;
}

.text-left {
  padding-left: 0.5em;
  text-indent: -0.5em;
  justify-content: space-between;
}



/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 40%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
  margin-left: 365px;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.bulletin_board_posts_btn {
  background-color: #0099FF;
  border-radius: 7px;
  padding: 2px 7px;
  width: 100px;
  height: 32px;
  text-align: center
}

.bulletin_board_posts_btn a {
  color: #fff;
}

.searchKeyword,
.myLikePosts {
  display: flex;
}

.search {
  background-color: #0099FF;
  color: #FFF;
}

.post_title {
  color: #000;
  font-weight: bold;
}

.post_fullName {
  color: #888888;
  font-weight: bold;
}

.post_status {
  color: #888888;
}

.search-bar-left

/* アコーディオンメニュー（サブカテゴリー検索） */
.accordion-container {
  position: relative;
  margin: 0 0 0 auto;
  outline: 0;
  cursor: pointer;
}

.accordion-container .accordion-title {
  position: relative;
  font-size: 1.25em;
  font-weight: normal;

}

.accordion-title {
  position: relative;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 45%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 10px;
  height: 10px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
  color: #000;
}

.accordion-content {
  display: none;
  background-color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.editBtn {
  background-color: #0099FF;
  color: #FFF;
  border-radius: 7px;
  padding: 2px 12px;
}

.trashBtn a {
  color: #FFF;
}

.trashBtn {
  background-color: #FF0000;
  border-radius: 7px;
  padding: 2px 12px;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}



/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn_like,
.category_btn_myPosts,
.category_btn_sub {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  color: #FFF;
}

.category_btn_like {
  background: #FF97C2;
  border-radius: 7px;
  padding: 2px 7px;
  width: 130px;
  height: 32px;
}

.category_btn_myPosts {
  background: #FFCC00;
  border-radius: 7px;
  padding: 2px 7px;
  width: 130px;
  height: 32px;
}

.category_btn_sub {
  background-color: #3399FF;
  color: #EEE;
}


.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* サブカテゴリー */
.subcategory_area {
  background: #FFF;
  border-radius: 10px;
}

.subcategory_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.subcategory_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #999;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}


/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #FFF;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 250px;
  height: 250px;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: #FFF;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}
